@import url(footer.css);
@import url(header.css);

*{
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body{
    font-family: "Space Grotesk", sans-serif;
    background-color: rgba(214, 212, 212, 0.938);
    margin: 0;
}
a{
    text-decoration: none;
    color: rgb(140, 140, 140);
}

.logo{
    display: flex;
    
}
.logo img{
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.main-header-top-navbar{
    text-align: center;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color: white;
}
.oculto{
    display: none;
}
.main-header{
background-color: grey;
padding: 20px;
display: block;

}
.logo{
    width: 8rem;
    
}
.main-destacados{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.publicidad{
    width: 100vw;
    height: 620px;
}

.hamburguer-button{
    background-color: rgb(71, 2, 71);
    color: white;
    display: block;
    max-width: 50px;
    padding: 15px 0px;
    border-radius: 8px;
    text-align: center;
    margin: auto;
}

.main-navbar ul {
list-style: none;
margin: 0;
padding: 0;
}
.main-navbar a { 
    text-decoration: none;
    color: #222222;
    font-size: 15px;
    display: inline-block;
    padding: 5px;
}

.copy-main-section-productos{
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 8px;
    margin: 5px;
}
.section-div{
    display: flex;
    flex-direction: row;
}          


.productos{
    max-width: 400px;
}
.container-producto{

    padding: 10px;

}
.copy-main-section-productos{
    background-color:rgb(71, 2, 71); ;
    padding: 3px;
    border-top: white solid 1px;
    border-bottom: white solid 1px;
}
.main-conteiner-productos{
    display: flex;
    flex-direction: column;
}
.container-producto h4{
color: white;

}
.publicidad{
    display: flex;
    padding: 10px;
    width: 80vw;
    justify-content: center;
    text-align: center;

}
.logo-footer{
    width: 30%;
}
h1,h2{
    color: white;
    
}
.oculto2{
    display: none;
}
.main-section-producto{
    display: flex;
    justify-content: center; 
    text-align: center;
    
}
.main-section-producto div{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0);
    background-color: #370a52d7;
    padding: 0;
    margin: 30px;
    border-radius: 20px;
}
/*Media tablet */

