<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/29653ac336.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Raleway:wght@300&display=swap"
        rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <%- include('./partials/header')%>
        <main>
            <div class="main-destacados">
                <button><i class="fa-solid fa-arrow-left"></i></button>
                <img class="publicidad" src="/images/publicidad1.jpg" alt="">
                <button><i class="fa-solid fa-arrow-right"></i></button>
            </div>
            <!--Productos destacados-->
            <h2 class="copy-main-section-productos">Productos destacados</h2>
            <section class="main-section-producto">
                
                    <div>
                        <img class=" productos " src="/images/video-geforce-rtx-4090-24gb-asus-rog-strix-gaming-oc-0.jpg"
                        alt="">
                        <h4>Tarjeta de video-RTX 4090-Mod.Rog Strix Gaming </h4>
                        <a href=""><i class="fa-solid fa-cart-shopping"></i>Agregar al carrito</a>
                    </div>
                    <div>
                        <img class=" productos " src="/images/830248-MLA44537046862_012021-F.jpg" alt="">
                        <h4>Auriculares inalambricos-Marca Logitech-Mod. G735 </h4>
                        <a href=""><i class="fa-solid fa-cart-shopping"></i>Agregar al carrito</a>
                    </div>
                    <div>
                        <img class="productos " src="/images/concepto-10395829.jpg" alt="">
                        <h4>Gabinete gamer-3 fans-Marca. PERFORMANCE</h4>
                        <a href=""><i class="fa-solid fa-cart-shopping"></i>Agregar al carrito </a>
                    </div>
            </section>
        </main>
        <!--Footer-->
        <%- include('./partials/footer') %>
            <script>
                function agregarAlCarrito(nombre, precio) {
                    const carrito = JSON.parse(localStorage.getItem('carrito')) || [];
                    carrito.push({ nombre, precio });
                    localStorage.setItem('carrito', JSON.stringify(carrito));
                    alert(`${nombre} agregado al carrito. Precio: $${precio}`);
                }
            </script>
            <script src="/app.js"></script>
</body>

</html>