<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_registro.css">
    <title>Document</title>
</head>

<body>
    <header>
    <a href="#" class="logo">
    <img src="/images/logo.png" alt="logo de la compañia">
    <h2 class="nombre de la empresa">Gamers</h2>

    </a>
    <nav>
        <a href="/" class="nav-link">Inicio</a>
        <a href="/Tienda" class="nav-link">Tienda</a>
        <a href="/carrito" class="nav-link">Carrito</a>
    </nav>
</header>
    <main>
        <div class="h2">
            <h2>Registrese</h2>
            <h5>Ingrese sus datos</h5>
        </div>  
        <div class="form"><form action="register.html" method="post"><input type="text"></form>  <form action="register.html" method="post"><input type="text"></form></div>
        <div class="email"><form action="register.html" method="post"><input type="email"></div>
        <div class="number"><form action="register.html" method="post"><input type="tel"></div>
        <div class="password"><form action="register.html" method="post"><input type="password"><form action="register.html" method="post"><input type="password"></div>
        <div class="submit"><button>Registrarse</button></div>
        <div class="text">
            ¿Ya tienes una cuenta? inicia sesion acá
        </div>
    </main>
</body>
</html>
