<footer class="main-footer">
    <div>
        <h3 class="titulos">Redes sociales</h3>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-whatsapp"></i>
    </div>
    <div class="oculto1">
        <h3>ATENCIÓN AL CLIENTE:</h3>
        <div class="info">
            <p>
                0810-555-8892
            </p>
            <p>
                consultas@gamers.com.ar
            </p>
            <p>WhatsApp +54 3885 693-245 </p>
            <br>
            <p>Lunes a viernes de 9 a 20hs.</p>
        </div>
    </div>
    <div class="oculto2">
        <h3>¿Queres recibir las mejores ofertas?</h3>
        <div class="button-footer">
            <input type="email" value="" placeholder="Correo Electrónico...">
            <button id="suscribirse">Suscribite</button>
        </div>
    </div>
    <!-- <h4>Contactanos</h4>
            <h4>3884502323</h2>
            <h4>ventadecomponentes@gmail.com</h3> -->
</footer>