<header>
    <a href="#" class="logo">
    <img src="/images/logo.png" alt="logo de la compañia" id="logo">
    <form action="#" id="busqueda-container">
        <input type="text" name="search-bar" id="search-bar" placeholder="Buscar productos, ofertas, promociones...">
        <button type="submit" id="buscar">Buscar</button>
    </form>
    </a>
    <nav>
        <a href="/" class="nav-link">Inicio</a>
        <a href="/Tienda" class="nav-link">Tienda</a>
        <a href="/carrito" class="nav-link">Carrito</a>
        <a href="/login" class="nav-link">Ingresar</a>
    </nav>
</header>